# Shopify
SHOPIFY_STORE_DOMAIN=
SHOPIFY_API_VERSION=2025-01
SHOPIFY_API_ENDPOINT_URL=
SHOPIFY_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_REVALIDATION_SECRET=

# Site
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_DEFAULT_THEME=noor
NEXT_PUBLIC_HIDE_THEME_SWITCHER=1

# Mistral (optional)
MISTRAL_API_KEY=
MISTRAL_MODEL=mistral-large-latest

# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
